# Python 3.10.14
Flask==3.0.3
pytorch-lightning==2.2.4
torch==2.0.1
torchmetrics==1.4.0
tqdm==4.66.4
transformers==4.33.3
triton==2.0.0
click==8.1.7
numpy==1.26.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
PyYAML==6.0.1
regex==2024.4.28
requests==2.31.0
huggingface-hub==0.23.0